<h3><%= l(:gtt_print_server_config) %></h3>

<p>
  <%= content_tag(:label, l(:field_gtt_print_server)) %>
  <%= text_field_tag 'settings[default_print_server]', @settings['default_print_server'], :size => 50 %>
</p>
<p>
  <%= content_tag(:label, l(:field_gtt_print_default_server_timeout)) %>
  <%= text_field_tag 'settings[default_print_server_timeout]', @settings['default_print_server_timeout'], :size => 10 %>
</p>
<p>
  <%= content_tag(:label, l(:label_enable_sync_printing)) %>
  <%= check_box_tag 'settings[enable_sync_printing]', true, @settings[:enable_sync_printing] %>
</p>
</div>

<% if Redmine::Plugin.installed?(:redmine_attachment_categories) %>
  <%- attachment_categories = AttachmentCategory.all.collect { |p| [p.name, p.id]} %>
  <div class="box tabular settings">

  <h3><%= l(:gtt_print_attachment_tag_config) %></h3>
  <p>
    <%= content_tag(:label, l(:label_attachment_tag_before)) %>
    <%= select_tag("settings[attachment_tag_before]",
                   options_for_select(attachment_categories, @settings['attachment_tag_before'])) %>
  </p>
  <p>
    <%= content_tag(:label, l(:label_attachment_tag_after)) %>
    <%= select_tag("settings[attachment_tag_after]",
                   options_for_select(attachment_categories, @settings['attachment_tag_after'])) %>
  </p>
  </div>
<% end %>

<div class="box tabular settings">

<h3><%= l(:gtt_print_templates_config) %></h3>

<% Tracker.sorted.each do |t| %>
  <p>
    <%= content_tag :label, t.name %>
    <%= select_tag "settings[tracker_config][#{t.id}]",
      content_tag(:option, l(:label_gtt_no_printing), value: '', selected: RedmineGttPrint.tracker_config(t).blank?) +
      options_from_collection_for_select(RedmineGttPrint.mapfish.print_configs,
                                         :to_s,
                                         :to_s,
                                         RedmineGttPrint.tracker_config(t)),
       multiple: true %>
  </p>
<% end %>

<p>
    <%= content_tag :label, l(:label_gtt_list_config) %>
    <%= select_tag "settings[issue_list_config]",
      content_tag(:option, l(:label_gtt_no_printing), value: '') +
      options_from_collection_for_select(RedmineGttPrint.mapfish.print_configs,
                                         :to_s,
                                         :to_s,
                                         RedmineGttPrint.list_config),
       multiple: true %>
</p>
