<p>
  <%= content_tag(:label, l(:field_gtt_print_server)) %>
  <%= text_field_tag 'settings[default_print_server]', @settings['default_print_server'], :size => 50 %>
</p>
</div>

<div class="box tabular settings">

<h3><%= l(:gtt_print_configurations) %></h3>

<% Tracker.all.each do |t| %>
  <p>
    <%= content_tag :label, t.name %>
    <%= select_tag "settings[tracker_config][#{t.id}]",
      content_tag(:option, l(:label_gtt_no_printing), value: '') +
      options_from_collection_for_select(RedmineGttPrint.mapfish.print_configs,
                                         :to_s,
                                         :to_s,
                                         RedmineGttPrint.tracker_config(t)) %>
  </p>
<% end %>

<p>
    <%= content_tag :label, l(:label_gtt_list_config) %>
    <%= select_tag "settings[issue_list_config]",
      content_tag(:option, l(:label_gtt_no_printing), value: '') +
      options_from_collection_for_select(RedmineGttPrint.mapfish.print_configs,
                                         :to_s,
                                         :to_s,
                                         RedmineGttPrint.list_config) %>
</p>
